$ cat .gitignore

# Can ignore specific files
.DS_Store

# Use wildcards as well
*~
*.swp

# Can also ignore all directories and files in a directory.
tmp/**/*
VSProject/MetroTama/*.*.suo
VSProject/MetroTama/MetroTama/obj/**/*
VSProject/MetroTama/MetroTama/bin/**/*
VSProject/MetroTama/MetroTamaUTest/bin/**/*